@model IEnumerable<System.Object>

@{
    Layout = null;
}

@{var propertyNames = Model.GetType().GetGenericArguments()[0].GetProperties().Select(p => p.Name).ToList();}

<!DOCTYPE html>

<html>
<head>
    <title>List</title>
</head>
<body>
    @if (ViewBag.ShowDeleteMessage == true)
    {
        <text>Registro apagado!</text>
    }
    @if (ViewBag.ShowCreateMessage == true)
    {
        <text>Registro inserido!</text>
    }
    @if (ViewBag.ShowEditMessage == true)
    {
        <text>Registro editado!</text>
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <thead>
            <tr>
                <th></th>
                @foreach (var propertyName in propertyNames)
                {
                    <th>@propertyName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ID = elem.GetType().GetProperty("ID").GetValue(elem, null) })
                    @Html.ActionLink("Delete", "Delete", new { ID = elem.GetType().GetProperty("ID").GetValue(elem, null) })
                </td>
                @foreach (var propertyName in propertyNames)
                {
                    <td>@elem.GetType().GetProperty(propertyName).GetValue(elem, null)</td>
                }
            </tr>
            }
        </tbody>   
    </table>
</body>
</html>

