@model IEnumerable<System.Object>
@{ViewBag.Title = "Inspira Admin - List";}

@{var propertyNames = Model.GetType().GetGenericArguments()[0].GetProperties().Select(p => p.Name).ToList();}

<div class="block">
	<div class="hd">
	    <h2>List</h2>
	</div>
	<div class="bd">
    @if (ViewBag.ShowDeleteMessage == true)
    {
        <text><p class="alert notice">Row successfully deleted</p></text>
    }
    @if (ViewBag.ShowCreateMessage == true)
    {
        <text><p class="alert notice">Row successfully inserted</p></text>
    }
    @if (ViewBag.ShowEditMessage == true)
    {
        <text><p class="alert notice">Row successfully edited</p></text>
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <thead>
            <tr>
                <th></th>
                @foreach (var propertyName in propertyNames)
                {
                    <th>@propertyName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ID = elem.GetType().GetProperty("ID").GetValue(elem, null) })
                    @Html.ActionLink("Delete", "Delete", new { ID = elem.GetType().GetProperty("ID").GetValue(elem, null) })
                </td>
                @foreach (var propertyName in propertyNames)
                {
                    <td>@elem.GetType().GetProperty(propertyName).GetValue(elem, null)</td>
                }
            </tr>
            }
        </tbody>   
    </table>
	</div>                        
</div>